* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Lato', sans-serif;
}
body {
    background-color:  #cce6ff;
    background-size: cover;
    overflow: hidden;
}
body * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border-top: 16px solid #b3e6ff;
    border-right: 16px solid  #80d4ff;
    border-bottom: 16px solid #66ccff;
    border-left: 16px solid  #4dc3ff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#showcase{
    display: none;
}
#outer-box{
    display: none;
}
.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.mainbox::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;   
    background: url('images/arrow-left.png') no-repeat; 
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease-out 1s;
    margin-top: 25%;
}
span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}
.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #ffff99;
    top: 120px;
    left: 0;
}
.span2 {
    clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
    background-color: #99ff99;
    top: 120px;
    right:  0;
}
.span3 {
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #ff99c2;
    bottom: 0;
    left: 120px;
}
.span4 {
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color:  #99ccff;
    top: 0;
    left: 120px;
}
.box2{
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}
span b {
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 3px 3px 0 #717171;
}
.spin {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #993399;
    color: #fff;
    box-shadow: 0 5px 20px #000000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}
#showcase {
    height:80px;
}
#showcase h1 {
    font-size: 50px;
    color: #b3b3b3;
    /* line-height: 1.3; */
    position: relative;
    animation: heading;
    animation-duration: 2s;
    animation-fill-mode: both;
}
@keyframes heading {
    0% {top:-50px;}
    100% {top: 70px;}
}